<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915941234935-c033rr81l528f6onaok7j3paneqomttu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915941234935-c033rr81l528f6onaok7j3paneqomttu</string>
	<key>API_KEY</key>
	<string>AIzaSyCR1-V5DqjCEZnFDy7FWCjurBIxv1SVnfY</string>
	<key>GCM_SENDER_ID</key>
	<string>915941234935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.searchaholic</string>
	<key>PROJECT_ID</key>
	<string>searchaholic-86248</string>
	<key>STORAGE_BUCKET</key>
	<string>searchaholic-86248.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915941234935:ios:25c73818b795f2bd311bf2</string>
</dict>
</plist>